body {
    background: #282e34;
    transition: all 0.2s;
    overflow: hidden;
    max-height: 100vh;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d5c292c0; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #D5C292; 
  }
header {
    width: 100%;
    height: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}
.logo a {
    font-size: 30px;
    color: #D5C292;
    cursor: pointer;
    transition: 0.2s;
}
.navigation ul {
    margin-top: 30px;
}
.navigation ul li {
    padding: 5px 0;
    overflow: hidden;
}
.navigation ul li:not(:last-child) {
    margin-right: 60px;
}
.navigation ul li a {
    color: #dadada;
    font-size: 14px;
    opacity: 0.7;
    transition: 0.2s;
}
.navigation ul li a:hover {
    opacity: 1;
}
  .nav .nav-item {
    width: 50%;
  }
  .nav .nav-item .nav-link {
    text-align: center;
    color: rgb(156, 153, 153);
    font-size: 20px;
  }
  .nav .nav-item .nav-link.active {
    color: rgb(129, 126, 126);
  }
.importantTxt {
    color: #D5C292;
    text-shadow: 5px 4px 10px #282e34;
    z-index: 10;
}
.textContent {
    text-shadow: 5px 4px 10px #282e34;
    z-index: 10;
}
.cursor {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #D5C292;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
    transition-property: opacity, transform;
    transform-origin: 100% 100%;
    z-index: -1;
    animation: cursor 4s linear infinite;
    border: 2px solid #D5C292;
}
.hovered-cursor {
    transform: scale(1.7);
}

@keyframes cursor {
    0% {
        background: #D5C292;
    }
    20% {
        background: #bdd592;
    }
    40% {
        background: #7cce87;
    }
    60% {
        background: #7ccece;
    }
    80% {
        background: #cf92d5;
    }
    100% {
        background: #D5C292;
    }
}