.accordion-button {
    outline: none;
    border: none;
    box-shadow: none!important;
    color: #D5C292!important;
    font-weight: bold;
}
.accordion-button span {
    color: rgb(240, 10, 10);
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 2px;
    border-bottom: 1px solid rgb(29, 28, 28);
}
.productList {
    margin-left: -25px;
}
.col-md-10 {
    background: #e7f1ff;
}
.productDetail .row .col-3 {
    font-size: 12px;
}
.QBOX > div {
    color: rgb(148, 147, 147);
    cursor: pointer;
}
.QBOX > .q {
    color: rgb(51, 48, 48);
    border: 1px solid rgb(184, 184, 184);
    height: 28px;
    width: 28px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}
.QBOX > .q p.active1 {
    animation: quantity 0.3s ease forwards;
}
.QBOX > .q p.active2 {
    animation: change  0.3s ease forwards;
}
.QBOX > .q p.active3 {
    animation: quantity2 0.3s ease forwards;
}
.QBOX > .q p.active4 {
    animation: change2  0.3s ease forwards;
}
@keyframes quantity {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0%)
    }
}
@keyframes change {
    0% {
        transform: translateY(0%)
    }
    100% {
        transform: translateY(100%)
    }
}
@keyframes quantity2 {
    0% {
        transform: translateY(100%)
    }
    100% {
        transform: translateY(0%)
    }
}
@keyframes change2 {
    0% {
        transform: translateY(0%)
    }
    100% {
        transform: translateY(-100%)
    }
}
.QBOX > div:hover {
    color: #000;
}
.productList .price {
    color: rgb(148, 147, 147);
}
.productList .total {
    color: rgb(148, 147, 147);
    margin-left: -35px;
}
.itemsCount > div {
    /* color: rgb(99, 97, 97); */
    font-size: 14px;
}