/* SLIDE 1 */
.slides > div {
    height: 50vh;
    display: none;
    opacity: 0;
    transition: all 0.3s ease;
    line-height: 50vh;
    font-size: 6rem;
}
.slides > div.active {
    display: block;
    opacity: 1;
    animation: slide 1s ease forwards;
}
.controls > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
.controls .prev {
    left: 5%;
}
.controls .next {
    right: 5%;
}
@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.indicator {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}
.indicator > div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}
.indicator > div.active {
    background: #D5C292;
}

/* SLIDE 2 */
.slides2 {
    position: relative;
    width: 100%;
    transition: 1.3s ease;
    left: 0;
}
.slides2 > div {
    height: 50vh;
    transition: all 0.3s ease;
    line-height: 50vh;
    font-size: 6rem;
    min-width: 100%;
}
.slides2 > div.active {
    display: block;
    opacity: 1;
    animation: slide 0.5s ease forwards;
}
.controls > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
.controls .prev2 {
    left: 5%;
}
.controls .next2 {
    right: 5%;
}
@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.indicator {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}
.indicator > div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}
.indicator > div.active {
    background: #D5C292;
}

/* SLIDE 2 */
.slides3 {
    position: relative;
    width: 100%;
    transition: 1.3s ease;
    left: 0;
}
.slides3 > div {
    height: 50vh;
    transition: all 0.3s ease;
    line-height: 50vh;
    font-size: 6rem;
    min-width: 100%;
    display: none;
    opacity: 0;
}
.slides3 > div.active {
    display: block;
    opacity: 1;
    animation: slide 0.5s ease forwards;
}
.controls > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
.controls .prev3 {
    left: 5%;
}
.controls .next3 {
    right: 5%;
}
@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.indicator {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}
.indicator > div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}
.indicator > div.active {
    background: #D5C292;
}

.slide1 .slideBorder {
    width: 250px;
    height: 250px;
    border: 20px solid transparent;
    border-image: url("../images/slide1.png") 25% 25%;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    animation: slideborder 2.5s ease forwards;
    opacity: 0;
}
@keyframes slideborder {
    0% {
        left: 70%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(25deg);
        opacity: 0;
    }
    100% {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0);
        opacity: 1;
    }
}
.slide1 .slideImg {
    background: url("../images/slide1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    animation: slideimg 2s ease forwards;
    animation-delay: 1s;
}
.slide2 .slideBorder {
    width: 250px;
    height: 250px;
    border: 20px solid transparent;
    border-image: url("../images/slide2.png") 40% 40%;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    animation: slideborder 2.5s ease forwards;
    opacity: 0;
}
@keyframes slideborder {
    0% {
        left: 70%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(25deg);
        opacity: 0;
    }
    100% {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0);
        opacity: 1;
    }
}
.slide2 .slideImg {
    background: url("../images/slide2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    animation: slideimg 2s ease forwards;
    animation-delay: 1s;
}
.slide3 .slideBorder {
    width: 250px;
    height: 250px;
    border: 20px solid transparent;
    border-image: url("../images/slide3.png") 47% 30%;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    animation: slideborder 2.5s ease forwards;
    opacity: 0;
}
@keyframes slideborder {
    0% {
        left: 70%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(25deg);
        opacity: 0;
    }
    100% {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0);
        opacity: 1;
    }
}
.slide3 .slideImg {
    background: url("../images/slide3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    animation: slideimg 2s ease forwards;
    animation-delay: 1s;
}
@keyframes slideimg {
    0%{
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}